extends layouts/main_layout.pug 

block content 

  main
    h1 Welcome To Home Page

    if prod.length>0 
        table  
           tr 
            th Items 
        each products in prod
           table  
              tr   
                 td #{products.title}  

    else 
       h1 No Products